#vegan {
    -fx-background-image: url('../images/vegan.jpg');
    -fx-background-size: cover;
}

#vegan:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#vegetarian {
    -fx-background-image: url('../images/vegetarian.jpg');
    -fx-background-size: cover;
}

#vegetarian:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#pascetarian {
    -fx-background-image: url('../images/pascetarian.jpg');
    -fx-background-size: cover;
}

#pascetarian:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#lowmeat {
    -fx-background-image: url('../images/lowmeat.jpg');
    -fx-background-size: cover;
}

#lowmeat:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#mediummeat {
    -fx-background-image: url('../images/mediummeat.jpg');
    -fx-background-size: cover;
}

#mediummeat:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#highmeat {
    -fx-background-image: url('../images/highmeat.jpg');
    -fx-background-size: cover;
}

#highmeat:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


#profileBtn {
    -fx-background-color: null;
    -fx-background-image: url('../images/profile_white_50.png');
}

#profileBtn:hover {
    -fx-background-image: url('../images/profile_green_50.png');
}

#homeBtn {
    -fx-background-color: null;
    -fx-background-image: url('../images/home_white_50.png');
}

#homeBtn:hover {
    -fx-background-image: url('../images/home_green_50.png');
}
