@font-face {
    src: url('fonts/MarkerThin.ttf');
}

* {
    -fx-font-family: "Marker";
}

#mainPane {
    -fx-background-image: url(../images/mainBackground.jpg);
    -fx-background-size: cover;
}

#profileBtn {
    -fx-background-color: null;
    -fx-background-image: url('../images/profile_white_50.png');
}

#profileBtn:hover {
    -fx-background-image: url('../images/profile_green_50.png');
}

#homeBtn {
    -fx-background-color: null;
    -fx-background-image: url('../images/home_white_50.png');
}

#homeBtn:hover {
    -fx-background-image: url('../images/home_green_50.png');
}

#lblSettings {

    -fx-font-family: "Marker";
    -fx-font-size: 40;
    -fx-text-fill: #61b73a;
}

#lblcars {

    -fx-font-family: "Marker";
    -fx-font-size: 30;
    -fx-text-fill: #61b73a;
}

#addcar,
#saveBtn {
    -fx-font-family: "Marker";
    -fx-font-size: 20;
    -fx-text-fill: #61b73a;
    -fx-border-color: #61b73a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: null;
    -fx-border-width: 3;
}


#addcar:hover,
#saveBtn:hover {
    -fx-border-color: #338741;
    -fx-text-fill: #338741;
}

#addcar:pressed,
#saveBtn:pressed {
    -fx-border-color: #61b73a;
    -fx-text-fill: #61b73a;
    -fx-scale-y: 0.99;
    -fx-scale-x: 0.99;
}

#addcar:focused,
#saveBtn:focused {
    -fx-border-color: #61b73a;
    -fx-text-fill: #61b73a;
}

#addcar:hover:focused,
#saveBtn:hover:focused {
    -fx-border-color: #338741;
    -fx-text-fill: #338741;
}

#scroll .viewport {
    -fx-background-color: transparent;
}

#scroll {
    -fx-background-color: transparent;
    -fx-border-color: #61b73a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 3;
}

#scroll .thumb {
    -fx-background-color: #61b73a;
    -fx-background-radius: 5em;
}

#scroll .increment-button,
#scroll .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#scroll .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
}

#lblelecprice,
#lblelecemissions,
#lblnaturalgas,
#lblgas,
#lbllivingspace,
#centskwh,
#co2kwh,
#usdm3,
#usdl,
#m2 {

    -fx-font-size: 18;
    -fx-text-fill: #61b73a;
}
